@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var fullName = HttpContextAccessor.HttpContext?.Session.GetString("FullName") ?? "Student";
}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" asp-controller="StudentDashboard" asp-action="Index">SIMS</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <div class="flex-grow-1"></div>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="user-avatar rounded-circle d-inline-flex align-items-center justify-content-center">
                    <i class="fas fa-user fa-fw"></i>
                </span>
                <span>@fullName</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" asp-controller="StudentDashboard" asp-action="Profile">My Profile</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" asp-controller="Login" asp-action="Logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

